:root{
    --foreground-dark:#2a684b;
    --foreground-light:#d0c8e7;
    --background-dark:#135d99;
    --background-light:#727c7b;
    --background-color: #991313;
  
  }
*{box-sizing: border-box;}


body{
    background-color: var(--background-light);
    margin:0;
    min-height: 1000px;
    font-family: 'PT Serif', serif;
}

  
.bodyHeader{
    background-color: var(--background-dark);
    
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top:0;
  }
  h1{
   
    text-align: center;

    font-size: clamp(1.3rem, 2.2vw, 1.3rem);
  }

  #toggler{
    display:none;
  }
  
  #toggler:checked ~ ul{
    right:0;
  }
  
  
  label{
  
    width:2rem;
    height:2rem;
    position:absolute;
    top:0;
    right:0;
    margin:.15rem;
  }
  
  label div{
    height:2px;
    width:80%;
    background-color: rgba(201, 57, 57, 0.986);
    position:absolute;
    transition: .2s;
  }
  
  label div:nth-child(1){
    top:calc( 22% - 1px);
  }
  label div:nth-child(2){
    top:calc( 50% - 1px);
  }
  label div:nth-child(3){
    top:calc( 78% - 1px);
  }

  #toggler:checked ~ label div:nth-child(1){
    transform: rotate(45deg);
    top: calc(50% - 3px);
  }
  #toggler:checked ~ label div:nth-child(2){
    opacity:0;
  }
  #toggler:checked ~ label div:nth-child(3){
    transform: rotate(-45deg);
    top: calc(50% - 3px);
  }
  
  ul{
    background-color: var(--background-color);
    list-style-type: none;
    margin:0;
    padding:.5rem;
    display:flex;
    position:fixed;
    right:-100%;
    top:2.1rem;
    height:calc(100% - 2.1rem);
    transition:.5s;
    flex-direction: column;
  }
a{
  text-decoration: none;
}
  li{
  
    top:0;
    left:0;
    margin:.3rem;
  }

  
@media (min-width:768px){

  ul{
    flex-direction: row;
    position:static;
    background-color: transparent;
  }
  label{
    display:none;
    display:none;
  }
}


    form{
        border:3px dashed rgb(22, 199, 31);
        display:flex;
        flex-direction: column;
        padding:10px;
        gap:4px;
        background: var(--foreground-lighter);
        box-shadow: var(--default-box-shadow);
        border-radius: .5rem;
        margin-top: 2rem;
      }

      input, textarea{
        padding:10px;
      }
      
      
      
      form{
        width:65%;
      }

      .wrapper{
        
        display:flex;
        flex-direction: column;
        align-items: center;
      }
      .wrapper header{
        width:50%;
      }
      
      h2{text-align: center;}
      
      
    



        .wrapper h2 {
          margin:5;
        }

        p{
          margin: 2px;
          text-align: center;
        }
    
      
  
 


footer{
  
  margin-top:3rem;
  background-color: rgb(76, 172, 141);
  color:rgb(255, 255, 255);
  font-size:.8rem;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  padding:1rem;
}
footer ol{
  list-style: none;
  margin:0;
  padding:0;
}
footer p {
  margin:0;
}